
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
}

.filter {
    margin: 20px;
}

.menu {
    flex-grow: 1;
    margin: 20px;
}

aside {
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
}

aside h2 {
    margin-top: 0;
}

.menu-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}

#checkout {
    margin-top: 20px;
}